/*
* Theme: CrossWay Framework
* Author: FWPolice
* Author URL: http://crossway.fwpolice.com
*/

/** Assets **/
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500');

/** Variables **/
@import "assets/variables";
@import "assets/mixins";

/** Core **/
@import "crossway/base";

@import "crossway/classhelper";

@import "crossway/typography";

@import "crossway/button";

@import "crossway/navigation";

@import "crossway/list";

@import "crossway/form";

@import "crossway/cover";

@import "crossway/cta";

@import "crossway/service";

@import "crossway/footer";


.feature {
    position: relative;

    &.style {
        $b: &;

        &-1 {

        }
    }
}
