/*
* Theme: Crossway Blocks
* Author: Sazzad Hossain
* Author URL: http://sazzad.me
*/

/**

Table of Contents

01. Import & Assets
02. Navigation

**/

/** Import & Assets **/

@import "assets/variables";
@import "assets/mixins";
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500');

/** Class Helpers **/
.or-separator {
    display: block;
    width: 70%;
    margin: $padding auto;
    position: relative;
    border-bottom: 2px dashed $borderColor;
    text-align: center;
    color: $textColorLight;

    span {
        position: relative;
        z-index: 2;
        background: white;
        padding: 0 $padding;
        bottom: -12px;
    }
}

.display-none {
    display: none !important;
}

.no {
    $b: &;

    &-margin-bottom {
        margin-bottom: 0 !important;
    }

    &-padding-right {
        padding-right: 0 !important;
    }

    &-padding-left {
        padding-left: 0 !important;
    }

    &-borders {
        border: none;
    }
}

// Backgrounds
.bg {
    $b: &;

    &-dark, &-blue, &-red, &-green {
        color: white;

        h1, h2, h3, h4, h5, h6, a, .lead {
            color: white;
        }
    }

    &-dark {
        background: $bodyColorDark;
    }

    &-white {
        background: white;
    }

    &-grey {
        background: $bodyColor;
    }

    &-red {
        background: $redAlert !important;
    }

    &-green {
        background: $greenAlert !important;
    }

    &-blue {
        background: $blueAlert !important;
    }

    &-yellow {
        background: $yellowAlert !important;
        color: $textColor;
    }

    &-ltorange {
        background: $ltorange !important;
        color: $textColor;
    }

    &-image {
        position: relative;

        .bg-image-holder {
            will-change: transform, top;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover !important;
            background-position: 50% 50% !important;
            z-index: 0;
            @include transition(0.3s linear);

            img {
                display: none;
            }
        }
    }
}

.has {
    $b: &;

    &-overlay {
        &:before {
            position: absolute;
            content: '';
            background: $bodyColorDark;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            @include opacity(.65);
        }
    }
}

// Font Colors
.color {
    $b: &;

    &-light {
        color: $textColorLight !important;
    }

    &-red {
        color: $redAlert !important;
    }

    &-green {
        color: $greenAlert !important;
    }

    &-blue {
        color: $blueAlert !important;
    }

    &-yellow {
        color: $yellowAlert !important;
    }

    &-grey {
        color: $textColorLight !important;
    }
}

// Heights
.height {
    $b: &;

    &-1 {
        height: 10vh;
    }

    &-2 {
        height: 20vh;
    }

    &-3 {
        height: 30vh;
    }

    &-4 {
        height: 40vh;
    }

    &-5 {
        height: 50vh;
    }

    &-6 {
        height: 60vh;
    }

    &-7 {
        height: 70vh;
    }

    &-8 {
        height: 80vh;
    }

    &-9 {
        height: 90vh;
    }

    &-10 {
        height: 100vh;
    }
}

// Alignments
.align-bottom {
    height: 100%;
    @include flexbox-col(bottom);
    align-self: center;
}

.align-center, .align-middle {
    @include flexbox-col(center);
}

.align-bottom, .aligh-center, .align-middle {
    height: 100%;

    img {
        -webkit-align-self: center;
        align-self: center;
    }
}

// Buttons
.button {
    position: relative;
    text-transform: uppercase;
    border: none;
    color: $white;
    background: $primaryColor;
    display: inline-block;
    font-size: $fontSizeSmall;
    font-weight: $fontNormal;
    margin: 0;
    padding: 0 $padding-lg;
    height: $inputSize;
    line-height: $inputSize;
    letter-spacing: 1px;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    @include border-radius(3px);
    @include transition(all 200ms ease-in);
    @include box-shadow(0 1px 2px rgba(0,0,0,.1));

    i {
        display: inline-block;
        margin-right: $padding-sm;
        //font-size: 1.15*$fontSize;
    }

    &:hover {
        background: lighten($primaryColor, 2%);
        color: $white;
        @include transform(translate(0, -3px));
        @include box-shadow(0 3px 15px 0 rgba(0,0,0,0.2));
        @include transition(all 200ms ease-in);
    }

    &.button-disabled {
        background: $bodyColor;
        color: $textColor;
        cursor: not-allowed;
        @include box-shadow(none);

        &:hover {
            @include transform(translate(0));
            @include box-shadow(none);
        }
    }

    &.button-blue {
        background: $tirtiaryColor;
        color: white;

        &:hover {
            background: lighten($tirtiaryColor, 2%);
        }
    }

    &.button-green {
        background: $greenAlert;
        color: white;

        &:hover {
            background: darken($greenAlert, 5%);
        }
    }

    &.button-red {
        background: $redAlert;
        color: white;

        &:hover {
            background: darken($redAlert, 5%);
        }
    }

    &.button-facebook {
        background: $facebook;
        color: white;

        &:hover {
            background: lighten($facebook, 2%);
        }
    }

    &.button-has-icon, &.has-icon {
        padding: 0 $padding-lg 0 ($inputSize + $padding);

        i {
            display: block;
            background: rgba(0,0,0,0.1);
            width: $inputSize;
            height: $inputSize;
            line-height: $inputSize;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
        }
    }

    &.button-sm {
        height: $inputSizeSm;
        line-height: $inputSizeSm;

        &.button-has-icon, &.has-icon {
            padding: 0 $padding-lg 0 ($inputSizeSm + $padding);

            i {
                width: $inputSizeSm;
                height: $inputSizeSm;
                line-height: $inputSizeSm;
            }
        }
    }

    &.button-lg {
        height: $inputSizeLg;
        line-height: $inputSizeLg;

        &.button-has-icon, &.has-icon {
            padding: 0 $padding-lg 0 ($inputSizeLg + $padding);

            i {
                width: $inputSizeLg;
                height: $inputSizeLg;
                line-height: $inputSizeLg;
            }
        }
    }
}

.lead {
    font-size: $fontSizeLarge;
    font-weight: $fontNormal;
    color: $textColorLight;
    margin: 0 0 $padding-lg;
}

/** Navigation **/

.header {
    z-index: 10;
    position: relative;
    letter-spacing: 0.015em;
    @extend %clearfix;

    // Nav Style 1
    &.style-1 {
        font-size: $fontSizeNav;

        .sub-header {
            height: $subHeaderSize;
            line-height: $subHeaderSize;
            font-size: .8*$fontSize;
            color: $textColorLight;
        }

        nav {
            height: $navSizeMobile;

            .navbar-brand {
                color: $textColorDark;
                font-weight: 700;
                font-size: 24px;
            }

            ul {
                text-transform: uppercase;

                li {
                    a {
                        color: $textColor;

                        &:hover {
                            color: $textColorDark;
                        }
                    }

                    .nav-button {
                        margin-left: $padding-xs;
                        color: white;

                        &:hover {
                            color: white;
                        }
                    }
                }

                .dropdown-menu {
                    text-transform: none;
                    border: 1px solid $borderColor;
                    font-size: $fontSizeNav;
                    color: $textColor;
                    @include border-radius(5px);
                    @include box-shadow(0 0 25px 0 rgba(0, 0, 0, 0.08));

                    .dropdown-item {
                        padding: $padding-xs $padding-lg;
                    }
                }
            }
        }
    }

    // Nav Style 1
    &.style-2 {
        background: $navBgColor;
        color: $navTextColor;
        @include box-shadow(0 1px 1px rgba(0,0,0,0.1));

        .sub-header {
            border-top: 2px solid $primaryColor;
            border-bottom: 1px solid $borderColor;
            height: $subHeaderSize;
            line-height: $subHeaderSize;
            font-size: .8*$fontSize;
            color: $textColorLight;
        }

        nav {
            height: $navSize;
            text-transform: uppercase;

            ul {
                li {
                    a {

                    }
                }
            }
        }
    }
}

/** Generic Containers **/

section {
    border-top: 1px solid $borderColor;
    min-height: 300px;
    padding-top: 100px;
    padding-bottom: 100px;

    &.text-center div[class*='col-']:first-child:last-child {
        margin: 0 auto;
        float: none;
    }
}

/** List Styles **/

.vertical-list {
    width: auto;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        list-style-type: none;
        margin-right: $padding;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
            text-decoration: none;
        }

        .icon {
            display: inline-block;
            margin-right: .5*$padding;
        }
    }
}

/** Footer Styles **/
footer {
    border-top: 1px solid $borderColor;
    padding-top: 50px;
    padding-bottom: 50px;

    &.style-1 {
        font-size: $fontSizeSmall;

        ul {
            text-transform: uppercase;
        }
    }
}
