---
layout: default
title:  Index
bodyID: homePage
---

<div class="navigation style-1">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    CrossWay Framework for OpenSource Development
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="vertical-list ml-auto">
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-toggleable-md">
        <div class="container">
            {% include _navigation-toggle.html %}

            {% include _logo.html %}

            <div class="collapse navbar-collapse" id="containerNavbar">
                {% include _navigation.html %}
            </div>
        </div>
    </nav>
</div>

<section class="bg-grey ptb-2">
    <div class="container">
        <div class="title style-2">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="service style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-gallery"></i>
                    </div>
                    <div class="content">
                        <h4>Design</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-comments"></i>
                    </div>
                    <div class="content">
                        <h4>Localization</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-camera"></i>
                    </div>
                    <div class="content">
                        <h4>Social Media</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-briefcase"></i>
                    </div>
                    <div class="content">
                        <h4>Support</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-bar-chart"></i>
                    </div>
                    <div class="content">
                        <h4>Strategy</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-receipt"></i>
                    </div>
                    <div class="content">
                        <h4>Invoicing</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service style-2 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-gallery"></i>
                    </div>
                    <div class="content">
                        <h4>Design</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-comments"></i>
                    </div>
                    <div class="content">
                        <h4>Localization</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-camera"></i>
                    </div>
                    <div class="content">
                        <h4>Social Media</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-briefcase"></i>
                    </div>
                    <div class="content">
                        <h4>Support</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-bar-chart"></i>
                    </div>
                    <div class="content">
                        <h4>Strategy</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="icon">
                        <i class="ti-receipt"></i>
                    </div>
                    <div class="content">
                        <h4>Invoicing</h4>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
