<!-- Footer -->
<footer class="style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list vertical mr-auto">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i> &nbsp; Like</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i> &nbsp; Follow</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i> &nbsp; Snap</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i> &nbsp; Shoot</a>
                    </li>
                </ul>
                &copy; CrossWay. Crafted by <a href="https://fwpolice.com">FWPolice</a>.
            </div>
            <div class="col-md-6 text-right">
                <ul class="list vertical ml-auto">
                    <li>
                        <a href="{{ site.baseurl }}/about">About</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/support">Support</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/terms">Legal</a>
                    </li>
                </ul>
                Coded with <i class="fa fa-heart"></i> in New York.
            </div>
        </div>
    </div>
</footer>
