<!-- Footer -->
<footer class="style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="vertical-list mr-auto">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Legal</a>
                    </li>
                </ul>
                &copy; CrossWay. Crafted by <a href="https://fwpolice.com">FWPolice</a>.
            </div>
            <div class="col-md-6 text-right">
                <ul class="vertical-list ml-auto">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Legal</a>
                    </li>
                </ul>
                Handcrafted with <i class="fa fa-heart"></i> in New York.
            </div>
        </div>
    </div>
</footer>
