
    <div class="sub-header hidden-md-down">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    OpenSource Framework
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list vertical ml-auto">
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
