/** CTA **/

.cta {
    position: relative;

    &.style {
        $b: &;

        &-1 {
            padding: $padding-xl 0;

            p {
                position: relative;
                top: $padding-xs;
                font-size: 18px;
            }
        }

        &-3 {
            padding: $padding-xl 0;

            .badge {
                margin: 0 $padding;
            }

            a {
                color: $primaryColor;
                border-bottom: 1px dashed $primaryColor;
                padding-bottom: 2px;

                &:hover {
                    border-color: transparent;
                }
            }
        }

        &-4 {
            padding: 0;

            a {
                display: block;
                padding: 2*$padding-lg 0;
                background: $primaryColor;
                color: white;
                letter-spacing: .05em;
                font-size: 2*$fontSize;
                font-weight: 300;

                &:hover {
                    background: lighten($primaryColor, 5%);
                }
            }
        }
    }
}
