/** Forms **/

input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    display: block;
    width: 100%;
    padding: 0 $padding-sm;
    border: 1px solid $borderColor;
    background: lighten( $bodyColor, 1% );
    @include border-radius(4px);

    @include placeholder {
        color: $textColorLight;
    }

    &:focus {
        outline: none;
        border-color: $primaryColor;
    }
}

input, select {
    height: $inputSize;
    line-height: $inputSize;

    &.input-lg {
        height: $inputSizeLg;
    }

    &.input-sm {
        height: $inputSizeSm;
    }
}

textarea {
    line-height: $inputSizeXs;
    padding: $padding-sm;
}

.input-select {
    height: $inputSize;
    position: relative;

    select {
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        padding-right: 40px;
        color: $textColorLight;

        option {
            &:disabled {
                color: $textColorLight;
            }
        }
    }

    &:after {
        position: absolute;
        right: 0;
        top: 0;
        content: '\21F5';
        pointer-events: none;
        padding: 0 $padding;
        height: $inputSize;
        line-height: $inputSize;
        color: $textColorLight;
        //font-size: $fontSizeLarge;
    }
}

.checkbox {
    margin-bottom: $padding-xs;

    input[type="checkbox"] {
        display: none;

        &:checked+label {
            &:before {
                border-color: $tirtiaryColor;
                background: $tirtiaryColor;
            }

            &:after {
                @include opacity(1);
            }
        }

        &:disabled+label {
            @include opacity(.6);
        }
    }

    label {
        position: relative;
        padding-left: $padding-xl;
        cursor: pointer;
        @extend %no-select;

        &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 19px;
            height: 19px;
            border: 1px solid $borderColorDark;
            background: #ffffff;
            @include transition(all .4s ease);
        }

        &:after {
            content: "\2713";
            font-size: 16px;
            line-height: 16px;
            @include opacity(0);
            position: absolute;
            top: 5px;
            left: 4px;
            color: white;
            @include opacity(0);
            @include transition(all .4s ease);
        }
    }
}

.radio {
    margin-bottom: $padding-xs;

    input[type="radio"] {
        display: none;

        &:checked+label {
            &:before {
                border-color: $tirtiaryColor;
                background: $tirtiaryColor;
            }

            &:after {
                @include opacity(1);
            }
        }

        &:disabled+label {
            @include opacity(.6);
        }
    }

    label {
        position: relative;
        padding-left: $padding-xl;
        cursor: pointer;
        @extend %no-select;

        &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 19px;
            height: 19px;
            border: 1px solid $borderColorDark;
            background: #ffffff;
            @include border-radius(50%);
            @include transition(all .4s ease);
        }

        &:after {
            content: "\273F";
            font-size: 14px;
            line-height: 16px;
            @include opacity(0);
            position: absolute;
            top: 5px;
            left: 4px;
            color: white;
            @include opacity(0);
            @include transition(all .4s ease);
        }
    }
}

.form-group {
    position: relative;

    &.has-error {
        label {
            color: $redAlert;
        }

        input {
            border-color: $redAlert;
        }
    }

    &.has-warning {
        label {
            color: $orangelAlert;
        }

        input {
            border-color: $orangelAlert;
        }
    }

    &.has-success {
        label {
            color: $greenAlert;
        }

        input {
            border-color: $greenAlert;
        }
    }
}

.form {

    &.style {
        $b: &;

        &-1 {

        }

        &-2 {
            .form-group {
                position: relative;
                margin: .5rem 0;
                background: transparent;
                @extend %clearfix;

                label {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 5*$padding;
                    padding: $padding-sm 0 0;
                    font-weight: $fontNormal;
                    color: $textColorLight;
                }

                input, textarea, select {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid $borderColor;
                    outline: none;
                    padding-left: 6*$padding;
                    background: transparent;
                    line-height: 3*$padding;

                    &:focus {
                        border-color: $primaryColor;

                        ~ label {
                            color: $primaryColor;
                        }
                    }

                    &:valid {
                        border-color: $greenAlert;

                        ~ label {
                            color: $greenAlert;
                        }
                    }

                    &:invalid:not(:focus):not(:placeholder-shown) {
                        border-color: $redAlert;

                        ~ label {
                            color: $redAlert;
                        }
                    }
                }

                select {
                    padding-left: 6*$padding;

                    &[multiple] {
                        overflow: scroll;
                    }
                }

                textarea {
                    padding-top: 0;
                }
            }
        }

        &-3 {
            p, div {
                font-size: $fontSizeLarge;

                span {
                    display: inline-block;
                    margin-bottom: $padding-lg;
                }

                input, .input-select {
                    display: inline-block;
                    max-width: 200px;
                    margin: 0 $padding;
                    height: $inputSizeSm;
                    border: none;
                    border-bottom: 1px solid $borderColorDark;
                    @include border-radius(0);
                }

                .input-select select {
                    border: none;
                    height: $inputSizeSm - 1px;
                    @include border-radius(0);
                }
            }
        }
    }
}
