/** Titles **/

.title {
    display: block;
    text-align: center;

    &.style {
        $b: &;

        &-1 {
            text-align: center;

            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 0;
            }

            p {
                font-size: 1.25*$fontSize;
                font-weight: 300;
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;

                strong {
                    font-weight: $fontNormal;
                }
            }
        }

        &-2 {
            text-align: center;

            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 0;
            }
        }
    }
}
